.list {
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 0 1em;
}
.flex-nowrap {
	display: flex;
	flex: nowrap;
}
#list-title {
	justify-content: space-between;
}
#add-list-input {
	display: grid;
	grid-template-columns: 80% 20%;
}

